/* header */
header{
  grid-column:1 / -1;
  margin-bottom:8px;
}

.header-title-link {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    cursor: pointer;
}
.header-title-link:hover {
    color: inherit;
    text-decoration: none;
}